[Unit]
Description=Apache Accumulo Garbage Collector service
After=syslog.target network.target

[Service]
User=accumulo
Group=accumulo
ExecStart=/usr/bin/accumulo gc
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
