[Unit]
Description=Apache Accumulo TServer service
After=syslog.target network.target

[Service]
User=accumulo
Group=accumulo
ExecStart=/usr/bin/accumulo tserver
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
