[Unit]
Description=Apache Accumulo Master service
After=syslog.target network.target

[Service]
User=accumulo
Group=accumulo
ExecStart=/usr/bin/accumulo master
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
